body {
    background-color: rgb(52, 52, 52);
    color: rgb(255, 255, 255);
}

#classes {
  width: 10em;
  height: 100vh;
  background-color: rgb(63, 63, 63);
}

.layer1 {
  display: block;
  background-color: rgb(43, 43, 43);
  padding: 0.5em;
  width: 10em;
}

.description {
  background-color: black;
  color: white;
  resize: none;
  cursor: pointer;
  border: none;
  width: 95vw;
  padding: 1em;
  border-radius: 15px;
  margin: 1em;
}
.description::selection {
  border: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0); 
  border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); 
  border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #838383; 
  cursor: pointer;
}

.arrowList{
  color: green;
}